@import url(https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

body{
	color: #80A7BF;
	background-color: #0D0D0D;
	font-family: 'Comfortaa';
	line-height: 1.3;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
h1{
	font-family: 'Comfortaa';
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 1.5;
}
h1 span{
	letter-spacing: 2.5px;
	font-family: 'Roboto';
	background-color: #2AA5A0;
	background-image: linear-gradient(90deg, #E3535D, #2AA5A0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
/* =================================================================== */
.tasks-block__container{
	padding-top: 100px;
	padding-bottom: 150px;
}
.tasks-block__title{
	margin: 0 auto;
	text-align: center;
	max-width: 700px;
	margin-bottom: 70px;
}
.tasks-block__items{
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	justify-content: center;
	gap: 50px;
}
.task__item{
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 2px solid #2AA5A0;
	border-radius: 4px;
	padding: 20px;
}
.task__text{
	flex: 1 0 auto;
	text-align: center;
}
.task__title{
	text-align: center;
	background-color: #2AA5A0;
	background-image: linear-gradient(90deg, #E3535D, #2AA5A0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
}